* {
    word-wrap: break-word;
	
}

html,body{
	background:#fff;
	padding:0;
	font-size:16px;
	font:16px/1.22;
	margin:0 auto;
	position: relative;
	min-height:100%;
	font-family: "微软雅黑","Microsoft YaHei",Arial,Helvetica,sans-serif;
}
h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, form, a, p{
	margin:0;
	padding:0;
	border:none;
	list-style:none;
	list-style-type:none;
	color:#000;
	font-family: "微软雅黑","Microsoft YaHei", Arial, Helvetica, sans-serif;
	text-decoration:none;
}
table,td,th{
	font-family: "微软雅黑","Microsoft YaHei", Arial, Helvetica, sans-serif;
	border-collapse:collapse;
}
input, button{
	font-family: "微软雅黑","Microsoft YaHei", Arial, Helvetica, sans-serif;
}
div{
	overflow:hidden;
}
a{
	color:#000;
	opacity:1;
	outline:none;
	text-decoration:none;
	cursor: pointer;
}
a.disabled{
	color:#757575 !important;
	background:#dcdcdc !important;
	text-shadow:1px 1px 0 rgba(255,255,255,1) !important;
	pointer-events:none !important;
}
/**********/
body, input, select, textarea, button, .ui-btn{
	font-family: "微软雅黑","Microsoft YaHei", Arial, Helvetica, sans-serif;
}
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit{
	background-color:#fff;
	text-shadow:none;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
	background-color:#fff;
	color:#2a2a2a;
	text-shadow:none;
}
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a{
	font-weight:500;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
	text-shadow:none !important;
}
.right{
	margin-right:0 !important;
	float:right;
}
.no-border{
	border:none !important;
}

.no_course {
	text-align: center;
}
.fullwide{
	min-width:1134px;
	width:100%;
	margin:0 auto;
}
.inner{
	width:1134px;
	position:relative;
	margin:0 auto;
}
.ui-content{
	padding:0 !important;
}
.mobile{
	height:100%;
}
.mobile .header{
	border:none;
	font-weight:500;
	height:56px;
	line-height:56px;
}
.mobile .header a{
	width: auto;
	height: auto;
	left: 0;
	display: inline;
	top: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	border: none;
	position: relative;
}
.mobile .header img{
	display:block;
	height:100%;
	float:left;
}
.mobile .banner{
	background:none;
	position:relative;
	height:auto;
	width:100%;
	overflow:hidden;
	background-size:cover;
}
.mobile .banner img{
	width:100%;
	height:auto;
	display:block;
}
.mobile .banner .skip{
	position:absolute;
	top:15px;
	right:15px;
	height:46px;
	width:46px;
	line-height:46px;
	border-radius:23px;
	display:block;
	text-align:center;
	color:#222;
	font-size:14px;
	background:rgba(255,255,255,0.6);
}
.mobile .banner .btn{
	display:block;
	position:absolute;
	position:fixed;
	left:0;
	bottom:14%;
	bottom:6.5%;
	text-align:center;
	font-size:25px;
	color:#fff;
	letter-spacing:3px;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
	background-color:transparent;
	border:none;
	width:56%;
	margin:0 22%;
	height:58px;
	line-height:58px;
}
@media screen and (max-device-width : 767px){
}
@media screen and (max-width : 767px) and (orientation :portrait){

}
@media screen and (max-device-width : 767px) and (min-device-width : 580px) and (orientation: landscape){

}
@media screen and (max-width : 579px) and (orientation: landscape){

}
@media screen and (max-width : 640px){

}
@media screen and (max-width : 540px){

}
@media screen and (max-width : 375px){
	
}
@media screen and (max-width : 360px){

}
@media screen and (max-width : 340px){

}
@media screen and (max-width : 320px){
	.mobile .banner .btn{
		bottom:6%;
	}
}
@media screen and (max-width : 275px){

}